@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
	background-color: #333;
	color: #fff;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 32px;
	text-align: center;
	margin: 0;
	line-height: 1;
}

a { color: #ccc; }

header {
	width: 100%;
	height: 145px;
	line-height: 145px;
	position: fixed;
	top: 0;
	margin-top: 0;

	background-color: #333;
	border-bottom: thick solid #fff;
	display:block;
	z-index: 1000;
}

h1 {
	font-size:48px;
	margin: 0;
}

.reasons {
	z-block: 100;
	margin-top: 165px;
}

ul {
	text-align: left;
	list-style-position: inside;
	line-height: 2;
}

.reasons .fa-li {
	line-height: 2 !important;
}
